[submodule "community"]
	path = community
	url = git@github.com:wenkokke/knausj_talon.git
[submodule "cursorless"]
	path = cursorless
	url = https://github.com/pokey/cursorless-talon
[submodule "voicemacs"]
	path = voicemacs
	url = https://github.com/jcaw/voicemacs
[submodule "emacs-monitor"]
	path = emacs-monitor
	url = git@github.com:wenkokke/emacs-monitor.git
[submodule "cheatsheet"]
	path = cheatsheet
	url = https://gist.github.com/tararoys/c538b7ae8e1f21db9a794c2c0f5becf4
[submodule "talon_hud"]
	path = talon_hud
	url = git@github.com:chaosparrot/talon_hud.git
[submodule "haskell-talon"]
	path = haskell-talon
	url = git@github.com:wenkokke/haskell-talon.git
